<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>
    <div id="blogdetails">
        <h3><%= blog.title %></h3>
        <p><%= blog.snippet %></p>
        <p><%= blog.body %></p>
        <form method="POST"
            action="/blog/<%= blog._id%>?_method=DELETE"
            enctype="application/x-www-form-urlencoded">
            <input type="hidden" name="_method" value="DELETE" />
            <button type="submit" id="delete">delete</button>
        </form>

    </div>
    <%- include("./partials/footer.ejs")%>
</body>
</html>